# 과제 1

#### Target Encoding: 각 피쳐 값의 target variable 평균으로 인코딩


TODO : 
 - 개선된 'Initial' Feature 에 target encoding 을 적용하세요.
 - ['Mr', 'Mrs', 'Miss', 'Master', 'Other'] 총 5가지의 값이 0-1 사이의 값으로 변환되어야 합니다.
 - 인코딩된 feature 는 'Initial_encoded' 에 저장해주세요.

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('train.csv')
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data['Name'].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [5]:
for i in data:
    data['initial'] = data['Name'].str.extract('([A-Za-z]+)\.')

In [6]:
# 나머지 이니셜을 모두 Miss, Mrs, Mr로 처리한다.
# 여성 이니셜은 이니셜의 의미에 부합하는 것으로 예상되는 카테고리(Miss 혹은 Mrs) 임의 설정
# 귀족 이니셜은 Other로 처리
data['initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],
                       ['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Other','Other','Other'],
                       inplace=True)

In [7]:
data['initial'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Other'], dtype=object)

## Mean값 찾기

In [8]:
# 각 값 (Mr, Mrs, ...)에 대해서 생존율 평균값 찾기
Mr_mean     = data.loc[data.initial == 'Mr', 'Survived'].mean()
Mrs_mean    = data.loc[data.initial == 'Mrs', 'Survived'].mean()
Miss_mean   = data.loc[data.initial == 'Miss', 'Survived'].mean()
Master_mean = data.loc[data.initial == 'Master','Survived'].mean()
Other_mean  = data.loc[data.initial == 'Other', 'Survived'].mean()

In [9]:
print('Mr_mean: ', Mr_mean)
print('Mrs_mean: ', Mrs_mean)
print('Miss_mean: ', Miss_mean)
print('Master_mean: ', Master_mean)
print('Other_mean: ', Other_mean)

Mr_mean:  0.16159695817490494
Mrs_mean:  0.7952755905511811
Miss_mean:  0.7043010752688172
Master_mean:  0.575
Other_mean:  0.16666666666666666

## Dataframe에 저장

In [10]:
# .loc 함수 사용
data.loc[data.initial == 'Mr', 'initial_encoded'] = Mr_mean
data.loc[data.initial == 'Mrs', 'initial_encoded'] = Mrs_mean
data.loc[data.initial == 'Miss', 'initial_encoded'] = Miss_mean
data.loc[data.initial == 'Master','initial_encoded'] = Master_mean
data.loc[data.initial == 'Other', 'initial_encoded'] = Other_mean

In [11]:
data['initial_encoded'].head(10)

0    0.161597
1    0.795276
2    0.704301
3    0.795276
4    0.161597
5    0.161597
6    0.161597
7    0.575000
8    0.795276
9    0.795276
Name: initial_encoded, dtype: float64

#### Dataset에 "이니셜 별 생존율" feature를 추가하였다.